.register-container {
  width: 100%;
  max-width: 850px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container .contant {
  width: 100%;
  padding: 96px;
  background: #F0F0F5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.10);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-container .contant section {
  width: 100%;
  min-width: 385px;
}

.register-container .contant section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
}
.register-container .contant section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-container .contant form {
  width: 100%;
  max-width: 450px;
}

.register-container .contant form input {
  margin-top: 8px;
}

.register-container .contant form .inputs-group {
  display: flex;
}

.register-container .contant form .inputs-group input + input {
  margin-left: 8px;
}